.todo-page {
  min-height: 100vh;
  background-color: #f5f5f5;
  
  .tabbar-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .nut-tabs-titles{
    background-color: #fff;
  }
  .add-todo-btn {
    
  }
} 